<div class="toolbar" [ngStyle]="{ top: this.mouseY + 20 + 'px', left: this.mouseX  + 'px' }">
    <div style="display: flex; flex-direction: column; align-items: center; color: white;">
        <span>{{this.value}}</span>
        <mat-slider min="1" max="25" step="0.1"><input matSliderThumb color="white" [(ngModel)]="value"
                (ngModelChange)="onResize()"></mat-slider>
    </div>
   
    <div *ngIf="(this.shapeType == 'star')" style="display: flex; flex-direction: column; color: white; align-items: center; gap: 2px;">
        <span>Pontas: {{this.shapeStarPoints}}</span>
        <div>
            <button mat-icon-button (click)="onStarPointsRaise()"><mat-icon style="color: limegreen ;">add</mat-icon></button>
            <button mat-icon-button (click)="onStarPointsDown()"><mat-icon style="color: crimson;">remove</mat-icon></button>
        </div>
    </div>

     <div style="display: flex; flex-direction: column; gap: 4px;">
        <button mat-icon-button style="color: rgb(241, 241, 241);" (click)="onMove()"><mat-icon>open_with</mat-icon></button>
        <button mat-icon-button style="color: rgb(241, 241, 241);" (click)="onDelete()"><mat-icon>delete</mat-icon></button>
    </div>
</div>
