.toolbar {
  position: absolute;
  /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
  background-color: hsla(0, 0%, 50%, 0.85);
  border: 1px solid #ccc;
  padding: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  gap: 16px;
  border-radius: 12px;
  align-items: center;
}

.custom-fab {
  width: 40px;
  height: 40px;
}

.color-container {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.color-container>div {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-direction: column;
}

.color-container>div>span {
  color: #fff;
}
.color-container>div>input {
  cursor: pointer;
  width: 100px;
}