<div class="toolbar" [ngStyle]="{ top: this.mouseY + 20 + 'px', left: this.mouseX  + 'px' }">
    <div class="basic-tools-container">
        <button mat-icon-button style="color: rgb(152, 255, 114);"
            (click)="onCheck()"><mat-icon>check</mat-icon></button>
        <button mat-icon-button style="color: rgb(241, 241, 241);"
            (click)="onMove()"><mat-icon>open_with</mat-icon></button>
        <button mat-icon-button style="color: rgb(241, 241, 241);"
            (click)="onDelete()"><mat-icon>delete</mat-icon></button>
    </div>
    <div class="sliders-container">
        <div>
            <mat-slider min="10" max="500" step="0.1" class="slider"><input matSliderThumb color="white"
                    [(ngModel)]="this.shapeSize[1]" (ngModelChange)="onResize()">
                <mat-label>
                    {{this.shapeType == 'star' ? "Raio Externo: " : "Altura: "}}{{this.shapeSize[1]}}
                </mat-label>
            </mat-slider>
        </div>
        <div>
            <mat-slider min="10" max="500" step="0.1" class="slider"><input matSliderThumb color="white"
                    [(ngModel)]="this.shapeSize[0]" (ngModelChange)="onResize()">
                <mat-label>
                    {{this.shapeType == 'star' ? "Raio Interno: " : "Largura: "}} {{this.shapeSize[0]}}
                </mat-label>
                
            </mat-slider>
        </div>
        <div *ngIf="shapeType == 'rectangle'">
            <mat-slider min="1" max="50" step="1" class="slider"><input matSliderThumb color="white"
                    [(ngModel)]="shapeCornerRadius" (ngModelChange)="onCornerRadius()">
                <mat-label>
                    Corner: {{this.shapeCornerRadius}}
                </mat-label>
            </mat-slider>
        </div>
    </div>

    <div class="color-container">
        <div>
            <span>Borda</span>
            <input type="color" id="borderColorPicker" [(ngModel)]="shapeStrokeColor" (ngModelChange)="onStroke()" />
        </div>
        <div>
            <span>Preenchimento</span>
            <input type="color" id="fillColorPicker" [(ngModel)]="shapeFillColor" (ngModelChange)="onFill()" />
        </div>
    </div>

    <div id="stroke-width-control" class="step-control-container">
        <span>Grossura: {{this.shapeStrokeWidth}}</span>
        <div>
            <button mat-icon-button (click)="onStrokeWidthRaise()"><mat-icon
                    style="color: limegreen ;">add</mat-icon></button>
            <button mat-icon-button (click)="onStrokeWidthDown()"><mat-icon
                    style="color: crimson;">remove</mat-icon></button>
        </div>
    </div>

    <div id="star-points-control" *ngIf="(this.shapeType == 'star')" class="step-control-container">
        <span>Pontas: {{this.shapeStarPoints}}</span>
        <div>
            <button mat-icon-button (click)="onStarPointsRaise()"><mat-icon
                    style="color: limegreen ;">add</mat-icon></button>
            <button mat-icon-button (click)="onStarPointsDown()"><mat-icon
                    style="color: crimson;">remove</mat-icon></button>
        </div>
    </div>
</div>